.section {
    background-color: white;
    margin: 10px 0;
}

.section__header {
    padding: 15px;
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid rgb(221, 215, 215);
    margin: 0;
}

.section--flex {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(221, 215, 215);
}

.section__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 15px;
}

.buttons {
    color: rgb(92, 89, 89);
    border: none;
    transition: .3s;
}

.buttons:hover{
    color:rgba(92, 89, 89, 0.664); ;
}

.buttons:disabled{
    color: rgb(182, 176, 176);
}

@media(max-width: 768px) {
    .section__header {
        border: none;
    }

    .section--flex {
        flex-direction: column;
        justify-items: center;
    }

    .section__buttons {
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .buttons {
        width: 121px;
        max-width: 121px;
    }
}