.addTaskForm {
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.addTaskForm__input {
    padding: 10px;
    border: 1px solid rgb(221, 215, 215);
    font-size: 15px;
}

.addTaskForm__button {
    padding: 10px;
    background-color: rgb(21, 117, 117);
    color: white;
    border: 1px solid rgb(9, 99, 99);
    font-size: 15px;
}

.addTaskForm__button:hover {
    background-color: rgba(21, 117, 117, 0.884);
}