.section {
    background-color: white;
    margin: 10px 0;
}

.section__header {
    padding: 15px;
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid rgb(221, 215, 215);
    margin: 0;
}

@media(max-width: 745px) {
    .section__header {
        font-size: medium;
    }
}